@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
section {

    padding: 100px;
}
.banner {

    position: relative;
    min-height: 100vh;
    background: url(lobo\ png.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2 {

    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span {

    font-size: 1.5em;
    font-weight: 700;
}
.banner h3 {

    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn {

    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {

    background: #fff;
    padding: 40px 100px;
    box-shadow: 0 5px 20px rba(0,0,0,0.1);
}
header .logo {

    color: black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header .sticky .logo {

    color: #111;
}
header ul {

    position: relative;
    display: flex;
}
header ul li {

    position: relative;
    list-style: none;

}
header ul li a {

    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: black;
    text-decoration: none;
}
header.sticky ul li a {

    color: #111;
}
.heading {

    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h3 {

    font-weight: 600;
    font-style: 30px;
}
.content {

    display: flex;
    justify-content: space-between;
}
.contentBx h3 {

    font-size: 24px;
    margin-bottom: 10px;
}
.w50 {

    min-width: 50%;
}
img {

    max-width: 100%;
}
.services {

    background: #111;
}
.heading.white {

    color: #fff;
}
.services .content {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx {

    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.services .content .servicesBx:hover {

    background: #2196f3;
}
.services .content .servicesBx img {

    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesBx h2 {

    font-size: 20px;
    font-weight: 600;
}